form, #dash {
    width: 80vw;
}
.signupForm, .dash, .dashboard {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.8em;
}

input, button {
    width: 80%;
    height: 3em;
    background-color: transparent;
}

#sign {
   width: 40vw;
}

.toggleForms {
    display: grid;
    grid-template-columns: 40vw 40vw;
    gap: 0.4em;
    justify-content: center;
    align-items: center;
}

.type-btn {
    background-color: blue;
    border: none;
    width: 20vw;
    border-radius: 8px;
}